body{
    padding: O;
    margin: 0;
    font-family: Times New Roman;
    color: black;
}

table{
    border: 1px solid black;
    margin: 0 auto;
   margin-left: 250px;
}

thead{
    color: #c8e7c2;
    background-color: #365c5c;
}

th, td{
    padding: 10px;
}

tfoot{
    text-align: center;
}

td i {
  font-size: 20px;
}

td a, td button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.div1 {
    display: flex;
    margin-top: 50px;
}
.input {
    width: 220px;
    font-family: Times New Roman;
    margin-left: 15px;
    height: 30px;
}
